
@{
    ViewBag.Title = "Welcome";
}

<br />
<br />
<br />

<h2>EASY DXC PARKING</h2>


<h3 class="mobile-hidden">Choose from  available Slots , or reserve your space in advance at DXC .
    Join over many drivers who are enjoying easy parking.</h3>

<br/>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />




<footer>
    <div class="form-group">
        <div>
            <h4>CLICK ON NEXT TO LOGIN </h4>
            <a href='@Url.Action("Login", "Login")'>
                <input type='button' value='Next' class="btn btn-info" />
            </a>
        </div>
    </div>
</footer>





