
@{
    ViewBag.Title = "DisplayMsg";
}

<br/>
<br/>
<br/>
<br/>
<br/>

<h2>You have Booked a Slot in Area:@ViewBag.SeletecdArea with SlotId:@ViewBag.SelectedSlotId of @ViewBag.SelectedVehicleType from @ViewBag.SelectedST to @ViewBag.SlectedET</h2>
<h2>ThankYou :)</h2>



